/* aqua #1bbc9b
====================================================================== */

::selection
{
	color: white;
	background-color: #1bbc9b;
}
::-moz-selection  
{
	color: white;
	background-color: #1bbc9b;
}

.sidebar-item ul li a:hover {
	color:#1bbc9b;
}

.search-submit:hover {
	background-color: #1bbc9b;
}
.facebook-link, .skype-link, .twitter-link, .flickr-link, .vimeo-link, .dribbble-link, .linkedin-link, .rss-link, .googleplus-link, .pintrest-link  {
	background-color:#1bbc9b;
}
#main-nav .current > a {
	background-color:#1bbc9b;
	color: #FFFFFF;
}
#main-nav .current li.current a, #main-nav .current li.current li.current a {
	background-color:#1bbc9b;/**/
	color: #fff !important;
}

#main-nav .current-menu-ancestor a, #main-nav .current_page_parent a, #main-nav .current-menu-item a {
	background-color:#1bbc9b;/**/
}

#main-nav a:hover {
	background-color:#1bbc9b;
}
.sf-menu li li a:hover{
	color: #414146 !important;
	background: #1bbc9b !important;
}

/**************3 BLOCKS**********************/
.block-1-content-container {
	background-color:#1bbc9b;

}
.ca-main {
   	color:#fff;
}
.block-1-content-container:hover .ca-main, .block-2-content-container:hover .ca-main, .block-3-content-container:hover  .ca-main{
	color:#414146;
}
.ca-sub {
    color: #eaeaea;
}
.block-1-content-container:hover .ca-sub, .block-2-content-container:hover .ca-sub, .block-3-content-container:hover  .ca-sub{
	color:#414146;
}

.block-black .ca-sub {
    color: #eaeaea;
}
.block-1-content-container.block-black:hover .ca-main, .block-2-content-container.block-black:hover .ca-main, .block-3-content-container.block-black:hover  .ca-main{
	color:#fff;
}
.block-1-content-container.block-black:hover .ca-sub, .block-2-content-container.block-black:hover .ca-sub, .block-3-content-container.block-black:hover  .ca-sub{
	color:#fff;
}



a.r-m-full:hover {
    color: #fff;
}
.r-m-plus:after {
    background-image: url("../../images/arrow-rm-white.png");
}
a.r-m-plus-small {
   background-image: url("../../images/arrow-rm-white.png");
}
		.facebook-link {
			background-image: url(../../images/social/facebook-hover.png);
		}
		.dribbble-link {
			background-image: url(../../images/social/dribbble-hover.png);
		}
		.flickr-link {
			background-image: url(../../images/social/flickr-hover.png);
		}
		.googleplus-link {
			background-image: url(../../images/social/googleplus-hover.png);
		}
		.linkedin-link {
			background-image: url(../../images/social/linkedin-hover.png);
		}
		.pintrest-link {
			background-image: url(../../images/social/pintrest-hover.png);
		}
		.rss-link {
			background-image: url(../../images/social/rss-hover.png);
		}
		.skype-link {
			background-image: url(../../images/social/skype-hover.png);
		}
		.twitter-link {
			background-image: url(../../images/social/twitter-hover.png);
		}
		.vimeo-link {
			background-image: url(../../images/social/vimeo-hover.png);
		}




.block-2-content-container {
	background-color:#19a88a;
}
.block-3-content-container {
	background-color:#17997e;
}
.block-black-text {
	background-color:#1bbc9b;
}
.box2-img-container {
	background-color:#1bbc9b;
}
.block2-a:hover .box2-img-container-inv {
	background-color:#1bbc9b;
}
.box3-img-container {
	background-color:#1bbc9b;
}
.block3-a:hover .box3-img-container-inv {
	background-color:#1bbc9b;
}
.box3-description-container {
	border-bottom:3px solid #1bbc9b;
}
.box5-img-container, .box5-img-container-inv {
	background-color:#1bbc9b;
}
.block5-a:hover .box5-img-container-inv {
	background-color:#1bbc9b;
}
.buy-img-container {
	background-color:#1bbc9b;
}
.button-buy-container a{
	background-color: #1bbc9b;
	color:#fff;
}
.nl-img-container {
	background-color:#1bbc9b;
}
.nl-button {
	background-color: #1bbc9b;
	color: #fff;
}
.jcarousel-next:hover, .jcarousel-prev:hover {
	background-color:#1bbc9b;
}
.bg-45{
	background-color:#1bbc9b;
}
.view-first .mask {
    background-color: #1bbc9b;
}
.page-title-container {
	background-color:#1bbc9b;
}
.contact-loc:after{
	background-color: #1bbc9b;
	background-image: url("../../images/icon_footer_loc.png");
}
.contact-phone:after{
	background-color: #1bbc9b;
	background-image: url("../../images/icon_footer_phone.png");
}
.contact-mail:after{
	background-color: #1bbc9b;
	background-image: url("../../images/icon_footer_mail.png");
}
.contact-mail a:hover{
	color:#1bbc9b;
}
.blog-item-date-cont  {
	background-color: #1bbc9b;
	color: #FFFFFF;
}
.blog-item-title-cont a:hover {
	background-color:#1bbc9b;
}
.blog-categories li.active .blog-cat-icon {
    background-image: url("../../images/next-small.png");
}
.pagination-1 a:hover {
	background-color:#1bbc9b;
}
.pagination-1 a.pag-current {
	background:#1bbc9b;
	color:#fff;
}
.pagination-1 .pag-prev:hover {
	background-color:#1bbc9b;
}
.pagination-1 .pag-next:hover {
	background-color:#1bbc9b;
}
.blog-categories li a:hover{
	color:#1bbc9b;
}
.blog-categories li a:hover .blog-cat-icon{
	background-color:#1bbc9b;
		background-image: url("../../images/next-small.png");
}
.blog-categories li.active .blog-cat-icon{
	background-color:#1bbc9b;
}
.latest-post-sidebar img:hover {
    border-color: #1bbc9b;
	background: none repeat scroll 0 0 #1bbc9b;
}
.skill-bar-content {
	background: #1bbc9b;
}
.ui-accordion-header:hover a{
	color:#1bbc9b;
}
.ui-accordion-header-active a{
	color:#1bbc9b;
}
.ui-accordion-header:hover span{
	background-color: #1bbc9b;
}
.ui-accordion-header-active span {
	background-color: #1bbc9b;
}
.tagcloud ul.wp-tag-cloud li a:hover {
	background-color:#ffea00;
}
.comment-name a:hover{
	color:#1bbc9b;
}
.comment-reply  a{
	background-color:#1bbc9b;
	color: #FFFFFF;
}
.author-name a:hover {
	color:#1bbc9b;
}
.dropcap4 {
	background: none repeat scroll 0 0 #1bbc9b;
	color: #FFFFFF;
}
.skill-bar .skill-title {
    color: #fff;
}
.page-title {
    color: #FFFFFF;
}
#toggle-view .ui-accordion-header-active {
	color:#1bbc9b;
}
#toggle-view .ui-accordion-header:hover {
	color:#1bbc9b;
}
.box-icon:hover i {
	background-color:#1bbc9b;
	color:#fff;
}
.latest-post h4 a:hover {
	color:#1bbc9b;
}
.footer-mail a:hover{
    color:#1bbc9b;
}
#footer-nav li a:hover {
	color:#1bbc9b;
}
a.author:hover {
	color:#1bbc9b;
}
.tweet_text a:hover, .tweet_time a:hover {
	color:#1bbc9b;
}
.price-col-main h1 {
	background-color: #1bbc9b;
	color:#fff;
}
.pt-col-main {
	background-color:#1bbc9b;
}
h1.pt-col-main {
	background-color:#1bbc9b;
	color:#fff;
}
.r-m-plus:after{
	background-color:#1bbc9b !important;
}
a.r-m-full:hover {
	background-color:#1bbc9b;
}
a.r-m-plus-small {
    background-color:#1bbc9b !important;
}
.button {
	background-color:#1bbc9b;
	color:#fff ;
}
.button.gray:hover {
	background-color:#1bbc9b; 
}
a {
    color: #1bbc9b;
}
.a-invert:hover{
	color: #1bbc9b;
}
.button.get-theme {
	background-color:#1bbc9b;
	color: #fff;
}
.view a.zoom:hover, .view a.link:hover  {
	background-color: #1bbc9b;
}
#back-top a:hover {
	background-color: #1bbc9b;
}
/**********SKELETON*******************/
	blockquote:before {
	background-color:#1bbc9b;
}


/****************FLEXSLIDER 1********************/
.flex-direction-nav li a:hover {
	opacity:1; filter:alpha(opacity=100);
	background-color: #1bbc9b !important;
}
.slider-1 .slides li h2 { 
	background-color:#1bbc9b !important;
	color:#fff !important;
}
.flex-direction-nav li a:hover {
	opacity:1; filter:alpha(opacity=100);
	background-color: #1bbc9b !important;
}
/****************FLEXSLIDER 2********************/
.flexslider .flex-next:hover { background-color:#1bbc9b;background-image: url(../images/next-small-black.png);
	background-repeat: no-repeat;
	background-position: center center;/* right: -33px;*/}
.flexslider .flex-prev:hover { background-color:#1bbc9b;background-image: url(../images/prev-small-black.png);
	background-repeat: no-repeat;
	background-position: center center;/*left: -33px;*/}
.flex-control-paging li a:hover { background-color: #1bbc9b; }
.flex-control-paging li a.flex-active:hover { background-color: #1bbc9b; }


/****************SEQUENCE SLIDER 1********************/
#sequence-theme .nav li img.active   {
  border-top: 5px solid #1bbc9b !important;
}
/*#sequence-theme .prev {
	background-color: #1bbc9b !important;
}*/
#sequence-theme .next.slider1:hover,
#sequence-theme .prev.slider1:hover {
    background-color:#1bbc9b !important;
}
#sequence-theme .main-text {
	border-left:5px solid #1bbc9b !important;
}
#sequence-theme .color {
	color:#1bbc9b !important;
}
/****************SEQUENCE SLIDER 2********************/
.sequence-theme-6 #sequence-theme .next:hover,
.sequence-theme-6 #sequence-theme .prev:hover {
  background-color:#1bbc9b;
}
#sequence-theme h3 {
    color: #1bbc9b !important
}
#sequence .slide-2-yellow {
    color: #1bbc9b !important
}



/* Retina Images (High Resolution)
====================================================================== */
@media (-Webkit-min-device-pixel-ratio: 1.5),
 (-moz-min-device-pixel-ratio: 1.5),
 (-o-min-device-pixel-ratio: 3/2),
 (min-device-pixel-ratio: 1.5),
 (min-resolution: 1.5dppx) {
	   
		.facebook-link {
			background-image: url(../../images/social/facebook-hover@2x.png);
			background-size:24px  auto;
		}
		.dribbble-link {
			background-image: url(../../images/social/dribbble-hover@2x.png);
			background-size:24px  auto;
		}
		.flickr-link {
			background-image: url(../../images/social/flickr-hover@2x.png);
			background-size:24px  auto;	
		}
		.googleplus-link {
			background-image: url(../../images/social/googleplus-hover@2x.png);
			background-size:24px  auto;	
		}
		.linkedin-link {
			background-image: url(../../images/social/linkedin-hover@2x.png);
			background-size:24px  auto;		
		}
		.pintrest-link {
			background-image: url(../../images/social/pintrest-hover@2x.png);
			background-size:24px  auto;	
		}
		.rss-link {
			background-image: url(../../images/social/rss-hover@2x.png);
			background-size:24px  auto;
		}
		.skype-link {
			background-image: url(../../images/social/skype-hover@2x.png);
			background-size:24px  auto;	
		}
		.twitter-link {
			background-image: url(../../images/social/twitter-hover@2x.png);
			background-size:24px  auto;
		}
		.vimeo-link {
			background-image: url(../../images/social/vimeo-hover@2x.png);
			background-size:24px  auto;	
		}
		.r-m-plus:after {
			background: url(../../images/arrow-rm-white@2x.png) no-repeat scroll center center ;
			background-size: 13px auto;
		}
		a.r-m-plus-small {
			background: url(../../images/arrow-rm-white@2x.png) no-repeat scroll center center ;
			background-size: 13px auto;
		}
		.blog-cat-icon {
			background-image: url(../images/next-small@2x.png);
			background-size: 9px auto;
		}
}